$successBackground: #79B473;
$backgroundTableCell: #9da7b4;
$boxShadow: 3px 10px 29px -10px rgba(0,0,0,0.75);
$formBackground:#0B3948;
$warnBackground: #E59500;
$dangerBackground: #D33F49;
$tableHeader:#434371;
$whiteColor:#ffffff;
$formBackground:#0B3948;
$greyColor:#555555;
$blackBackground:#313131;
$materialPrimary:#3f51b5;
$boxShadow: 3px 10px 29px -10px rgba(0,0,0,0.75);
$sideBarBackground:#FDF0D5;
$bodyBackground: #ebf2fa;
$primaryForLogout: #F0544F;
$successBackground: #79B473;
$backgroundTableCell: #9da7b4;
$backGroundCreate: #011638e0;
$bodyBackGround2:#1a457859;
$bodyBackground3: #afbecf;
$materialPrimary-2: #414073;
$whiteColor:#ffffff;
$formBackground:#0B3948;
$greyColor:#555555;
$blackBackground: #313131;
$materialPrimary:#3f51b5;
$boxShadow: 3px 10px 29px -10px rgba(0,0,0,0.75);
$boxShadowWhite: 3px 10px 29px -10px rgba(255, 255, 255, 0);
$sideBarBackground:#FDF0D5;
$bodyBackground: #ebf2fa;
$primaryForLogout: #F0544F;
$successBackground: #79B473;
$backgroundTableCell: #9da7b4;
$box-shadow:0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
$scrollbarThumb: #245682;
$dialogContainer: #0f1d39;
$dialogContainer2: #192e5a;
$yes-no-DialogContainer: #152c57;
$bgCard: #087f8c;
