::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: #CCDAE5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #245682 ;
  outline: 1px solid #245682 ;
  border-radius: 10px;
}
